{% extends 'main.html' %}
{% load static %}
{% block content%}

<form action='dateScan1' method='POST'>{% csrf_token %}
<div class="container h-75">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h1 id="form-title">Select Date Range</h1>
            </div>

            <div class="input-group p-1">
                <span class="input-group-text"><i class="far fa-calendar-alt" style='font-size:14px'></i></span>
                <div class="custom-file">
                    <input id="datepicker" name="date1" placeholder="Select start date" width="270" />
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <h2 id="form-title">To</h2>
            </div>

            <div class="input-group p-1">
                <span class="input-group-text"><i class="far fa-calendar-alt" style='font-size:14px'></i></span>
                <div class="custom-file">
                    <input id="datepicker1" name="date2" placeholder="Select end date" width="270" />
                </div>
            </div>

            <script>
                $('#datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    uiLibrary: 'bootstrap4'
                });
            </script>

            <script>
                $('#datepicker1').datepicker({
                    format: 'yyyy-mm-dd',
                    uiLibrary: 'bootstrap4'
                });
            </script>
            <br>
            <div class="d-flex justify-content-center">
                <input class="btn login_btn" type="submit" value="Submit">
            </div>

        </div>
    </div>
</div>
</form>
{% endblock %}